{% extends 'layout.html' %} {% block title%} Login {% endblock %} {% from
"bootstrap5/form.html" import render_form %} {% block bgimg %}
<header
  class="masthead"
  style="background-image: url('/static/assets/img/register-bg.jpg')"
>
  {% endblock %} {%block header %}

  <h1>Register</h1>
  <span class="subheading">Start Contributing to the Blog!</span>

  {% endblock %} {% block content %}

  <main class="mb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <!--TODO: render your registration form here-->
          {{render_form(form, novalidate=True)}}
          <p class="my-2">
            Already an account?
            <a href="{{url_for('login')}}">Sign In</a>
          </p>
        </div>
      </div>
    </div>
  </main>
  {% endblock %}
</header>
